<!DOCTYPE html>
<html ng-app="portfolio">
	<head>
		
		<script src="js/jquery-1.9.1.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/portfolio.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href="style.css" rel="stylesheet" type="text/css">

		<title>Jemma Elise Tockuss - Graphic Designer, Photographer</title>
		<link rel="icon" type="image/ico" href="images/je-logo.png"/>
		<meta name="description" content="Personal website of Graphic Designer and Photographer, Jemma Elise Tockuss" />

	</head>

	<body ng-controller="PortfolioController">
		
		<header>
			<div class="logo-div">
				<img class="logo-img" src="images/JE-Logo-purp-01.png"/>
				<div class="social-buttons-div">
					<a href="http://www.flickr.com/photos/jemmaelisedesign/sets" target="_blank" title="See my photos on Flickr!"><img src="http://l.yimg.com/g/images/goodies/white-flickr.png" style="height:18px" alt=""></a>				
					<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.21f7daa948263c3043bab783473c3475.en.html#_=1416282036084&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=jemma_elise&amp;show_count=false&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 59px; height: 20px;"></iframe><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>				
					<a href="http://linkedin.com/in/jemmaelise" target="_blank" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" alt="View Jemma Elise Tockuss's LinkedIn profile" style="height:18px; border-style:none;" border="0"></span></a>
				</div>
			</div>
		</header>
		
		<div class="hero-div">
			<article class="hero-statement">
			Welcome
			</article>
		</div>
		
		<div class="portfolio">
			<div class="portfolio-set" ng-repeat="portfolioSet in portfolio">
				<div class="portfolio-title">{{portfolioSet.title}}</div>
				<div class="portfolio-images-box">
					<div class="portfolio-image" ng-repeat="portfolioImage in portfolioSet.images.slice(0,6)" style="background-image: url('{{portfolioImage}}')"></div>
				</div>
			</div>
		</div>
		
		<footer>
			Copyright 2015, Jemma Elise Tockuss, jemmaelise@live.com
		</footer>

	</body>
</html>
