<!DOCTYPE html>
<html ng-app="portfolio">
	<head>
		
		<script src="js/jquery-1.9.1.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/portfolio.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href="style.css" rel="stylesheet" type="text/css">

		<title>Jemma Elise Tockuss - Graphic Designer, Photographer</title>
		<link rel="icon" type="image/ico" href="images/je-logo.png"/>
		<meta name="description" content="Personal website of Graphic Designer and Photographer, Jemma Elise Tockuss" />

	</head>

	<body ng-controller="PortfolioController">
		
		<div class="logo-div">
			<img style="width:100%" src="images/JE-Logo-purp-01.png"/>
		</div>
		
		<div class="portfolio">
			<div class="portfolio-set" ng-repeat="portfolioSet in portfolio">
				<div class="portfolio-padding"></div>
				<div class="portfolio-image" ng-repeat="portfolioImage in portfolioSet.images.slice(0,6)" style="background-image: url('{{portfolioImage}}')"></div>
				<div class="portfolio-padding"></div>
			</div>
		</div>

	</body>
</html>
